.login{
	display: flex;
	flex-wrap: wrap;
	display: block;
	text-align: center;
	padding: 10px 0 10px 0;
}
.loginfondo{
	background-image: url('../../public/images/artehacker.jpg');
}
.titulolog{
	text-align: center;
	font-size: 40px;
	color: #fff;
	display: block;
}
.forminput{
	border-radius: 8px;
	width: 20%;
	padding: 18px 15px;
	float: center;
	margin: 28px 0 0 0;
	display: block;
}
.p_recordar{
	color: #fff;
	font-size: 18px;
}
.recordar{
margin: 20px 10px 0 0;
color: #FFF;
}
.botoneslog{
	display: block;
	margin: 10px 0 15px 0;
}
.botonlog{
	color: #fff;
	border-radius: 8px;
	padding: 20px 25px;
	margin-left: 5px;
	background-color: #D05004;
	border: 0;
}
/*Responsive login*/
@media screen and (min-width: 600px) and (max-width: 1024px){
.forminput{
	width: 20%;
}
}